/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Body styling */
body {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(163, 255, 163);
}

/* Input styling */
input {
    padding: 8px;
    margin: 5px;
    width: 120px;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
}